.table-row {
    width: 100%;
    height: 5vh;
    
    td {
        width: 12%;
        font-size: 1.3em;
        text-align: center;
    }
    .state {
        color: #22bb33;
    }
    .btn-container {
        border-right: none;
        button {
            width: 90%;
            height: 4vh;
            border: none;
            background-color: #22bb33;
            border-radius: 2em;
            cursor: pointer;
            transition-duration: 400ms;
            font-size: 1em;
            font-weight: 600;
            color: rgb(245,245,245);
        }
        button:hover {
            background-color: #49cf59;
        }
    }
    .col-dark {
        background-color: rgb(245,245,245);
    }
    .col-light {
        background-color: rgb(245,245,245, .7);
    }

}

.error { 
    td {
        border-top: 4px solid #ff0308;
        border-bottom: 4px solid #ff0308;
    }
    .module-type {
        border-left: 4px solid #ff0308;
    }
    .btn-container {
        border-right: 4px solid #ff0308;
    }
    .state{
        color: #ff0308;
    }
}