footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 4%;
    height: 10vh;
    background-color: #657786;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
        width: auto;
        font-size: 2em;
        color: rgb(245, 245, 245);
    }
}